#app {
    display: flex;
    height: 100vh;
}

.container.formJugador {
    display: flex;
    flex-flow: column;
    width: 55%;
    text-align: center;
    align-items: center;
    row-gap: 15px;
    font-size: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: auto;
    margin-top: 100px;
    padding: 29px;
    border-radius: 10px;
    box-shadow: inset 0 0 0 5px #252525;
    height: 30vh;
    box-sizing: border-box;
}

.container:not(.formJugador) {
    display: flex;
    flex-flow: column;
    width: fit-content;
    margin: auto;
    padding: 20px;
    background: #fff;
}

input.nombre {
    flex: 0 0 40%;
    min-width: 50%;
    margin: auto;
    padding: 7px 20px;
    max-height: 20px;
    font-size: 20px;
}

.marcaBox > input {
    margin: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.marcaBox > input:after {
    content: "";
    height: 20px;
    width: 20px;
    background: #6973f1;
    display: block;
    position: relative;
    margin: auto;
    bottom: 0;
    right: 0;
    border-radius: 50%;
}

.marcaBox > input:checked:after {
    content: "";
    background: orange;
    border: 6px solid #6973f1;
    height: 10px;
    width: 10px;
    bottom: 1px;
    right: 0px;
}

button.button {
    width: 40%;
    padding: 17px 10px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 20px;
    border-radius: 30px;
}

.row {
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
}

.row.middle {
    border-top: 3px solid #454545;
    border-bottom: 3px solid #454545;
}

.row > div {
    height: 250px;
    width: 250px;
    cursor: pointer;
}

.row > div.dos {
    border-left: 3px solid #454545;
    border-right: 3px solid #454545;
}

.jugador, .cpu {
    cursor: not-allowed;
    pointer-events: none;
}

.jugador {
    background-image: url(./img/circle-doodle-svgrepo-com.svg);
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.cpu {
    background-image: url(./img/cross-svgrepo-com.svg);
    background-size: auto 90%;
    background-repeat: no-repeat;
    background-position: center;
}

.d-none{
    display: none;
}

.noEvents {
    cursor: not-allowed;
    pointer-events: none;
}

.mensaje {
    padding: 20px 10px;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ganador {
    background-color: #80f580;
    color: #055a05;
    font-weight: bold;
    font-size: 30px;
    border: 1px solid #0b8f0b;
}

.perdedor {
    background-color: #f58080;
    color: #5a0505;
    font-weight: bold;
    font-size: 30px;
    border: 1px solid #8f0b0b;
}

@media (max-width: 500px) {
    .container.formJugador {
        width: 100%;
        height: 50vh;
    }

    input.nombre {
        max-width: 200px;
    }

    button.button {
        width: 90%;
    }

    .marcaBox {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .marcaBox > label {
        flex: 0 0 50%;
    }

    .marcaBox > input {
        margin: auto;
    }

    .container:not(.formJugador) {
        padding: 0;
    }

    .row > div {
        height: 100px;
        width: 100px;
    }
}